# for independence testing
scikit-learn

# for time-series
tigramite
numba
six

# for causal ID
dowhy

# for plotting
matplotlib

# for exporting to DOT format
pydot

# for interfacing with pgmpy
pgmpy

# for partial correlations
pingouin